@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');
body
{
    background-color: rgb(25, 25, 25);
    color:white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.contain
{
    width: 100vw;
    /* outline:1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.rows
{
    display: flex;
    flex-direction: column;
    /* outline:1px solid red; */
    height: fit-content;
    padding: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.row
{
    display: flex;
    /* outline:1px solid yellow; */
    justify-content: center;
}
.row_item
{
    height: 60px;
    width: 60px;
    border:1px solid rgb(86, 86, 86);
    margin:3px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
}
.label
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: xx-large;
    font-weight: 100;

}
.key
{
    width: 45px;
    height: 55px;
    margin:5px;
    outline:.1px solid rgba(255, 255, 255, 0.258);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    user-select: none;
    cursor: pointer;
}
.sp
{
    width: 73px;
}
.score
{
    flex-direction: row;
    position: absolute;
    right: 0;
    top: -45px;
    font-weight: 100;;

}
.result
{
    position: absolute;
    outline: .1px solid white;
    font-weight: 100;
    font-size: larger;
    background-color: rgb(23, 23, 23);
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    display:none;
}
@media screen and (max-width:650px) {

    .key{
    width: 8vw;
    height: 11vw;
    font-size: small;
    margin:2.5px;
    }
    .sp
{
    width: 13vw;
}
    
}